.header{
    background-color: black;
    height: 7vh;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.title{
    margin: 0;
    padding: 0.5rem;
    color: white;
    font-weight: lighter;
}
